.section {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding-bottom: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.section__header-line {
  height: 2px;
  background-color: rgb(238, 238, 238);
  margin: 16px 0;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.section__header {
  width: 100%;
  padding-bottom: 10px;
  width: 100%;
}

@media (max-width: 767px) {
  .section__header {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

.section__title {
  margin: 0;
  font-size: 20px;
}

.section__header--with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}